<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
	   <property name="hibernate.dialect">
	      org.hibernate.dialect.MySQLDialect
	   </property>
	   <property name="hibernate.connection.driver_class">
	      com.mysql.jdbc.Driver
	   </property>
	
	   <!-- Assume test is the database name -->
	   <property name="hibernate.connection.url">
	      jdbc:mysql://localhost/shop
	   </property>
	   <property name="hibernate.connection.username">
	      root
	   </property>
	   <property name="hibernate.connection.password">
	      26031812
	   </property>
	   
	   <!-- JDBC connection pool (use the built-in) -->
	   <property name="connection.pool_size">1</property>
	   
	   <!-- Disable second-level cache -->
	   <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
	
		<!-- Echo all executed sql to stdout  -->
	   <property name="sql_show">true</property>
	   
	   <!-- Drop the existing tables and create new one -->
	  <!--   <property name="hbm2ddl.auto">create</property>-->
	   
	   <!-- List of XML mapping files -->
	   <mapping resource="uet/jcia/shop/is/entities/Order.hbm.xml"/>
	   <mapping resource="uet/jcia/shop/is/entities/Address.hbm.xml"/>
	   <mapping resource="uet/jcia/shop/is/entities/Customer.hbm.xml"/>
	   <mapping resource="uet/jcia/shop/is/entities/Category.hbm.xml"/>
	   <mapping resource="uet/jcia/shop/is/entities/Product.hbm.xml"/>
	   <mapping resource="uet/jcia/shop/is/entities/OrderItem.hbm.xml"/>
	   <mapping resource="uet/jcia/shop/is/entities/Specification.hbm.xml"/>
   </session-factory>
</hibernate-configuration>